<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.mapper.InventoryChangeLogMapper">

    <select id="findByInventoryId" resultType="com.auto.entity.InventoryChangeLog">
        select * from inventory_change_log
        where inventory_id = #{inventoryId}
        order by created_at desc
    </select>

</mapper>
